<!DOCTYPE html>

<html>

<head>
  <title>Social Battleships!</title>
  <!-- Styles -->
  <link href="css/style.css" type="text/css" rel="stylesheet">
  <!-- Interface -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body>
  <%= yield %>
</body>

</html>
